$alternate_font: 'Tobias', sans-serif;
$body_font: 'Suisse', sans-serif;

$gutter: 40px;
$vertical_rythm: 40px;

$gutter_mobile: 32px;
$vertical_rythm_mobile: 24px;

$base_size: 13px;
$slight_size: 18px;
$slight_medium_size: 22px;
$medium_size: 28px;
$medium_large_size: 40px;
$large_size: 64px;
$big_size: 80px;
$huge_size: 96px;

$medium_size--mobile: 26px;
$big_size--mobile: 38px;
$huge_size--mobile: 38px;


$white: white;
$red: #E90000;
$bourgogne: #530D0F;
$beige: #CCAF92;
$orange: #C37000;

$desktop: "all and (min-device-width:801x), all and (min-width:801px)";
$mobile: "all and (max-device-width:800x), all and (max-width:800px)";