@import "all/settings";

.article__body {
	max-width: 560px;
}

.article__image {
	@supports (position: sticky) {
		position: sticky;
		top: $vertical_rythm*3;
	}
	opacity: 0;
	transition: opacity 700ms 600ms ease-in-out;

	.initialized-3 .page--initialized & {
		opacity: 1;
	}

}
